@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 160 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 160 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 160 84% 4.9%;

    --primary: 170 47.4% 30%;
    --primary-foreground: 210 40% 98%;

    --secondary: 180 40% 96.1%;
    --secondary-foreground: 170 47.4% 11.2%;

    --muted: 180 40% 96.1%;
    --muted-foreground: 200 16.3% 46.9%;

    --accent: 175 70% 41%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 170 47.4% 30%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 175 70% 41%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 180 4.8% 95.9%;
    --sidebar-accent-foreground: 175 50% 30%;
    --sidebar-border: 180 13% 91%;
    --sidebar-ring: 175 70% 41%;
  }

  .dark {
    --background: 170 15% 10%;
    --foreground: 175 10% 95%;

    --card: 170 15% 15%;
    --card-foreground: 175 10% 95%;

    --popover: 170 15% 15%;
    --popover-foreground: 175 10% 95%;

    --primary: 175 70% 41%;
    --primary-foreground: 210 40% 98%;

    --secondary: 170 20% 20%;
    --secondary-foreground: 175 10% 95%;

    --muted: 170 20% 20%;
    --muted-foreground: 170 20% 65.1%;

    --accent: 175 70% 30%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 170 20% 25%;
    --input: 170 20% 25%;
    --ring: 175 70% 41%;
    
    --sidebar-background: 170 15% 15%;
    --sidebar-foreground: 175 10% 95%;
    --sidebar-primary: 175 70% 41%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 170 20% 20%;
    --sidebar-accent-foreground: 175 10% 95%;
    --sidebar-border: 170 20% 25%;
    --sidebar-ring: 175 70% 41%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}